<h1><%= @competition.name %> Show Page</h1>

<%= @competition.name %>
<%= @competition.location %>
<%= @competition.sport %>

<h2>Teams in this competition:</h2>

<% @competition.teams.each do |t| %>
  <%= t.hometown %>
  <br>
  <%= t.nickname %>
  <br>
  <p>Average Age of Players: <%= t.average_age_of_players %></p>
<% end %>

<%= link_to 'Register a team',"/competitions/#{@competition.id}/teams", method: :get%>
