<h1>Add a team!</h1>
<%= form_with url: team_index_path , local: true do |f| %>

  <%= f.label :hometown %>
  <%= f.text_field :nickname %>
  <%= f.hidden_field :competition_id, value: :competition_id %>
  <br>
  <%= f.submit 'Add to Competition' %>
<% end %>